body {
    background: linear-gradient(-45deg, rgba(42,0,71,1) 0%, rgba(0,159,255,1) 51%, rgba(53,0,117,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.dapp {
    z-index: 1;
}

.glassPanel {
    background: rgba(0, 0, 0, 0.3);
}

.blackNavbar {
    background-color: #000;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.zoom img:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

.pulse a:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}